:root {
  --bg-dark: #111c1b;
  --hero-main-fs: 48px;
  --header-text-fs: 24px;
  --information-text-fs: 36px;
  --hero-main-color: #f9faf8;
  --fw-900: 900;
  --text-secondary-color: #adb5b2;
  --btn-color: #12a594;
  --btn-hover-color: #0eb39e;
  --quote-bg-color: #dfe2e0;
  --quote-text-color: #1f2937;


  /* Radix Color: */

  /* Teal Scale */
  --teal-1: #f7fffd;
  --teal-2: #eefdfa;
  --teal-3: #cffdf3;
  --teal-4: #aefbeb;
  --teal-5: #8df4e1;
  --teal-6: #68e9d4;
  --teal-7: #1ddac2;
  --teal-8: #00c3aa;
  --teal-9: #00d3bb;
  --teal-10: #00c8b0;
  --teal-11: #007b6a;
  --teal-12: #00483d;

  --teal-a1: #00ffc008;
  --teal-a2: #00e1b411;
  --teal-a3: #00f5c030;
  --teal-a4: #00f3c151;
  --teal-a5: #00e7bc72;
  --teal-a6: #00dab797;
  --teal-a7: #00d5bae2;
  --teal-a8: #00c3aa;
  --teal-a9: #00d3bb;
  --teal-a10: #00c8b0;
  --teal-a11: #007b6a;
  --teal-a12: #00483d;

  --teal-contrast: #062823;
  --teal-surface: #eafdf9cc;
  --teal-indicator: #00d3bb;
  --teal-track: #00d3bb;

  /* Gray Scale */
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  max-width: 1020px;
  width: 100%;
  margin-inline: auto;
}

/* Header:  */

.header {
  padding: 16px;
  background-color: var(--bg-dark);
  color: var(--hero-main-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  font-size: var(--header-text-fs);
  font-weight: var(--fw-900);
}

.header ul {
  list-style: none;
}

.header a {
  color: var(--text-secondary-color);
  font-size: 18px;
  text-decoration: none;
}

.header a:hover {
  color: var(--gray-3);
}

.navbar-links {
  display: flex;
  gap: 1.4rem;
}

/* Hero: */

#hero {
  background-color: var(--bg-dark);
  background-size: cover;
  color: var(--hero-main-color);
  gap: 2.5rem;
  padding: 138px;
}

.hero {
  display: flex;
  gap: 4rem;
}

.hero h1 {
  font-size: var(--hero-main-fs);
  font-weight: var(--fw-900);
  line-height: 1.2;
}

.hero p {
  margin-top: 8px;
  letter-spacing: 1px;
  color: var(--text-secondary-color);
}

.hero img {
  flex-shrink: 0;
}

.btn {
  border: none;
  margin-top: 16px;
  outline: transparent;
  border-radius: 8px;
  padding: 8px 35px;
  background-color: var(--btn-color);
  font-size: 18px;
  color: white;
}

#call-to-action .btn {
  color: white;
  outline: 1px solid white;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

/* Information: */

.information-title {
  margin-top: 52px;
  margin-bottom: 56px;
  font-size: var(--information-text-fs);
  font-weight: var(--fw-900);
  text-align: center;
}

.info-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 124px;
}

.info-item {
  box-shadow: 1px 3px 10px 1px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
}

.info-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 3px 10px 1px rgb(0, 0, 0, 0.2);
}

.info-item img {
  height: 150px;
  width: 100%;
}

.info-item p {
  padding: 16px;
}

.text-info {
  padding-left: 24px;
  padding-right: 24px;
}

/* Quote: */

#quote {
  padding-top: 136px;
  background-color: var(--quote-bg-color);
  color: #63635e;
  font-size: var(--information-text-fs);
  font-weight: lighter;
}

.text-left {
  text-align: right;
  font-size: var(--header-text-fs);
  font-weight: var(--fw-900);
  padding-bottom: 106px;
}

/* Call to action: */

.call-to-action {
  margin-top: 98px;
  margin-bottom: 98px;
  padding: 52px 122px;
  display: flex;
  justify-content: space-between;
  background-color: var(--btn-color);
  color: white;
  border-radius: 8px;
}

/* Footer: */

.footer {
  text-align: center;
  padding: 40px 0;
  background-color: var(--bg-dark);
  color: var(--text-secondary-color);
}
