:root {
  --bg-dark: #1f2937;
  --hero-main-fs: 48px;
  --header-text-fs: 24px;
  --information-text-fs: 36px;
  --hero-main-color: #f9faf8;
  --fw-900: 900;
  --text-secondary-color: #e5e7eb;
  --btn-color: #3882f6;
  --quote-bg-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  max-width: 1020px;
  width: 100%;
  margin-inline: auto;
}

/* Header:  */

.header {
  padding: 16px;
  background-color: var(--bg-dark);
  color: var(--hero-main-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  font-size: var(--header-text-fs);
  font-weight: var(--fw-900);
}

.header ul {
  list-style: none;
}

.header a {
  color: var(--text-secondary-color);
  font-size: 18px;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 1.4rem;
}

/* Hero: */

#hero {
  background-color: var(--bg-dark);
  background-size: cover;
  color: var(--hero-main-color);
  gap: 2.5rem;
  padding: 138px;
}

.hero {
  display: flex;
  gap: 4rem;
}

.hero h1 {
  font-size: var(--hero-main-fs);
  font-weight: var(--fw-900);
  line-height: 1.2;
}

.hero p {
  margin-top: 8px;
  letter-spacing: 1px;
  color: var(--text-secondary-color);
}

.hero img {
  flex-shrink: 0;
}

.btn {
  border: none;
  margin-top: 16px;
  outline: transparent;
  border-radius: 8px;
  padding: 8px 35px;
  background-color: var(--btn-color);
  font-size: 18px;
  color: var(--text-secondary-color);
}

#call-to-action .btn {
  color: var(--text-secondary-color);
  outline: 1px solid var(--text-secondary-color);
}

.btn:hover {
  background-color: #4188fc;
}

/* Information: */

.information-title {
  margin-top: 52px;
  margin-bottom: 56px;
  font-size: var(--information-text-fs);
  font-weight: var(--fw-900);
  text-align: center;
}

.info-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 124px;
}

.info-item {
  box-shadow: 1px 3px 10px 1px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
}

.info-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 3px 10px 1px rgb(0, 0, 0, 0.2);
}

.info-item img {
  height: 150px;
  width: 100%;
}

.info-item p {
  padding: 16px;
}

.text-info {
  padding-left: 24px;
  padding-right: 24px;
}

/* Quote: */

#quote {
  padding-top: 136px;
  background-color: var(--quote-bg-color);
  color: var(--quote-text-color);
  font-size: var(--information-text-fs);
  font-weight: lighter;
}

.text-left {
  text-align: right;
  font-size: var(--header-text-fs);
  font-weight: var(--fw-900);
  padding-bottom: 106px;
}

/* Call to action: */

.call-to-action {
  margin-top: 98px;
  margin-bottom: 98px;
  padding: 52px 122px;
  display: flex;
  justify-content: space-between;
  background-color: var(--btn-color);
  color: var(--text-secondary-color);
  border-radius: 8px;
}

/* Footer: */

.footer {
  text-align: center;
  padding: 40px 0;
  background-color: var(--bg-dark);
  color: var(--text-secondary-color);
}
